<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="fragment.basic :: head"></head>
<body>
 
<div class="page-header">
  <h1 th:text="#{label.page.employee.title}" class="ml-1" style="margin-left: 20px;"></h1>
</div>
<!--form:form action=""></form:form-->
<div>
  <form action="#" th:action="@{/employee}" th:object="${employeeDTO}" method="post" datatype="app">
    name: <input type="text" th:field="*{name}" /><br>
    surname: <input type="text" th:field="*{surname}" /><br>
    password:  <input type="password" th:field="*{password}" id="pwd"/><br>
    password:  <input type="password" th:field="*{passwordDouble}" id="pwdDouble" /><br>
    city:  <input type="text" th:field="*{city}" id="city" /><br>
    phoneNumber:  <input type="text" th:field="*{phoneNumber}" id="phoneNumber" /><br>
    email:  <input type="text" th:field="*{email}" id="email" /><br>

    <button type="submit" th:name="addEmployee" th:text="#{employee.item.add}" th:value="add">Add employee</button> 
  </form>
</div>

<div th:replace="fragment.basic :: footer"></div>
</body>
</html>